body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Menu_Background
{
   border-width: 0;
}
#wb_SystemMenu
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_SystemMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 120px;
}
#wb_SystemMenu li
{
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 190px;
}
#wb_SystemMenu a
{
   display: block;
   color: #00008B;
   border: 1px #00BFFF groove;
   background-color: #F0E68C;
   background-image: none;
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 16px;
   font-style: italic;
   text-decoration: none;
   width: 150px;
   height: 21px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 21px;
   text-align: center;
}
#wb_SystemMenu li:hover a, #wb_SystemMenu a:hover
{
   color: #00008B;
   background-color: #FFFF00;
   background-image: none;
   border: 1px #C0C0C0 groove;
}

#wb_SystemMenu .firstmain a
{
   margin-top: 0px;
}

#wb_SystemMenu li.lastmain
{
   padding-bottom: 0px;
}

#wb_SystemMenu li:hover, #wb_SystemMenu li a:hover
{
   position: relative;
}

#wb_SystemMenu a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 178px;
   background-image: none;
}
#wb_SystemMenu li:hover a.withsubmenu, #wb_SystemMenu a.withsubmenu:hover
{
   background-image: none;
}
#wb_SystemMenu ul ul
{
   position: absolute;
   visibility: hidden;
   width: 145px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_SystemMenu ul :hover ul
{
   left: 120px;
   top: 0px;
   padding-top: 0px;
   visibility: visible;
}
#wb_SystemMenu .firstmain:hover ul
{
   top: 0px;
   padding-top: 0px;
}
#wb_SystemMenu li li
{
   width: 145px;
   padding: 0 0px 0px 0px;
   border: 0px #87CEFA solid;
   border-width: 0 0px;
}
#wb_SystemMenu li li.firstitem
{
   border-top: 0px #87CEFA solid;
}
#wb_SystemMenu li li.lastitem
{
   border-bottom: 0px #87CEFA solid;
}
#wb_SystemMenu ul ul a, #wb_SystemMenu ul :hover ul a
{
   float: none;
   margin: 0;
   width: 250px;
   height: auto;
   white-space: normal;
   padding: 5px 6px 5px 6px;
   background-color: #FFFF00;
   background-image: none;
   border: 1px #00BFFF solid;
   color: #00008B;
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 16px;
   font-style: italic;
   line-height: 16px;
   text-align: left;
   text-decoration: none;

}
#wb_SystemMenu ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_SystemMenu ul ul :hover a, #wb_SystemMenu ul ul a:hover, #wb_SystemMenu ul ul :hover ul :hover a, #wb_SystemMenu ul ul :hover ul a:hover
{
   background-color: #90EE90;
   background-image: none;
   border: 1px #C0C0C0 solid;
   color: #00008B;
}
#wb_SystemMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
